<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    INDEX <br>
    <button id="movetoregister">회원가입 하러가기</button>
    <button id="movetologin">로그인 하러가기</button>
    <script type="application/javascript" src="/js/index.js" defer></script>
</body>
</html>
