<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    아이디: <input id="id" placeholder="Enter ID" name="id"><br>
    비밀번호: <input type="password" id="password" placeholder="Enter Password" name="password"><br>
    <button id="loginbtn">시작하자!</button>
    <button id="movetoregister">회원가입 하러가기</button>
    <button id="movetoindex">홈으로</button>
    <script type="application/javascript" src="/js/login.js" defer></script>
</body>
</html>